/* style sheet */
/*background-color: #0E29E9;*/

html {
box-sizing: border-box;
}
*
, *:before, *:after {
box-sizing: inherit;
}

body {
	font-family: 'Kanit', sans-serif;
}

header {
	background-color: #0E29E9;
	width: 100%;
	height: 30vh;
	display: flex;
  	justify-content: center;
 	align-items: center;
}
h1 {
	color: white;
}

h2 {
	color: #0E29E9;
	font-size: 300%;
}

h3 {
	color: #0E29E9;
	font-size: 150%;
}

.food-list {
	margin-left: 60px;
}

.i-want-this {
	text-decoration: none;
	color: white;
	background-color: #0E29E9;
	border-radius: 30px;
	padding: 10px 20px;
}

.logo {
	text-decoration: none;
}

div.button {
	margin-left: 200px;
}

.button a {
	color: #0E29E9;
	text-decoration: none;
	border: 2px #0E29E9 solid;
	border-radius: 40px;
	padding: .5em 1em;
	display: inline-block;
	font-size: 150%;
}

#check-this-out {
	background-color: #0E29E9;
	color: white;
	margin-right: 20px;
}

#check-the-recipes {
	background-color: #0E29E9;
	color: white;
	margin-right: 20px;
	text-decoration: none;
	border: 2px #0E29E9 solid;
	border-radius: 40px;
	padding: .5em 1em;
	display: inline-block;
	font-size: 150%;
}

footer {
	bottom: 0px;
	background-color: #0E29E9;
	width: 100%;
	height: 150px;
}

.footer-text {
	margin-left: 200px;
	font-weight: normal;
	color: white;
}
img.social {
	width: 30px;
	height: 30px;
	object-fit: contain;
	margin-left: 200px;
}

#fb {
	margin-left: 15px;
}

#page-container {
  	position: relative;
 	min-height: 100vh;
}
#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 25vh;
}

