/* style sheet */
/*background-color: #E71616;*/
/*font-family: 'Kanit', sans-serif;*/

html {
box-sizing: border-box;
}
*
, *:before, *:after {
box-sizing: inherit;
}

body {
	font-family: 'Kanit', sans-serif;
}

header {
	background-color: #E71616;
	width: 100%;
	height: 30vh;
	display: flex;
  	justify-content: center;
 	align-items: center;
}
h1 {
	color: white;
}

h2 {
	color: #E71616;
	font-size: 300%;
}

h3 {
	color: #E71616;
	font-size: 150%;
	text-align: center;
}

.i-want-this {
	text-decoration: none;
	color: white;
	background-color: #E71616;
	border-radius: 30px;
	padding: 7px 22px;
}

.logo {
	text-decoration: none;
}

div.button {
	margin-left: 200px;
}

.button a {
	color: #E71616;
	text-decoration: none;
	border: 2px #E71616 solid;
	border-radius: 40px;
	padding: .5em 1em;
	display: inline-block;
	font-size: 150%;
}

#check-this-out {
	background-color: #E71616;
	color: white;
	margin-right: 20px;
}

#check-the-recipes {
	background-color: #E71616;
	color: white;
	margin-right: 20px;
	text-decoration: none;
	border: 2px #E71616 solid;
	border-radius: 40px;
	padding: .5em 1em;
	display: inline-block;
	font-size: 150%;
}

a.footer-text {
	text-decoration: none;
}

h5 {
	margin-left: 200px;
	font-weight: normal;
	color: white;
}

img.social {
	width: 30px;
	height: 30px;
	object-fit: contain;
	margin-left: 200px;
}

#fb {
	margin-left: 15px;
}

/* url: https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/*/
#page-container {
  position: relative;
 	min-height: 250vh;
}

#content-wrap {
  padding-bottom: 25vh;
}

.footer {
	position: absolute;
	background-color: #DE360C;
	bottom: 0;
	width: 100%;
	height: 20vh;
}
/*I was still struggling with displaying the footer properly
after watching a bunch of tutorials*/

.col-2 img {
	width: 100%;
	height: 20vh;
	object-fit: contain;
	border: 2px #DE360C solid;
	border-radius: 7px;
}

.centered-content {
	text-align: center;
	margin-top: 2rem;
}

#pho-title {
	text-align: center;
	color: #DE360C;
	font-size: 300%;
	margin-bottom: 0px;
}

#pho-photo {
	width: 50%;
	height: 20vh;
	object-fit: contain;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

h4 {
	color: #E71616;
	text-align: center;
	margin-top: 30px;
}

p {
	color: #E71616;
	text-align: center;
	font-weight: 300;
	border: 2px #E71616 solid;
	border-radius: 10px;
	width: 40%;
	height: 120px;
	margin: auto;
	padding: 20px;
}

ul.list-items {
	color: #E71616;
	text-align: center;
	font-weight: 300;
	border: 2px #E71616 solid;
	border-radius: 10px;
	width: 40%;
	height: 210px;
	padding: 20px;
	list-style-type: none; /*CSS Styling Lists*/
  margin: auto;
}

ul#instruction {
	height: 160px;
}

ul#prepare {
	height: 230px;
}

#serving {
	height: 180px;
}

