/* style sheet */

 /*blue #6286F7*/ /*light blue #D3DEFF*/

/* universal styling first */

/* box model fix */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

.row:before,
.row:after {
	content: " ";
	display: table;
}

.row:after {
	clear: both;
}

/*
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
*/

.container-fluid {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
}
.container {
	width: 1170px;
	margin: 0 auto;
	background-color: #fff;
}

body {
	font-family: 'Roboto Mono', monospace;
}

header {
	margin-top: 40px;
}

header li {
	margin-left: 110px;
	color: #6286F7; /*blue*/
}

a {
	list-style-type: none;
	text-decoration: none;
	display: inline-block;
}

.hello-grid {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto;
}

#giant {
	color: #6286F7; /*blue*/
	grid-column-start: 1;
	grid-column-end: 7;
	grid-row-start: 1;
	grid-row-end: 3;
}

#intro {
	grid-column-start: 6;
	grid-column-end: 7;
	grid-row-start: 2;
	grid-row-end: 5;
}

h1 {
	font-size: 300px;
}

h2 {
	font-size: 25px;
}

h3 {
	font-size: 60px;
	margin-left: 135px;
	margin-top: 150px;
	color: #6286F7;
}

hr {
	color: #6286F7; /*blue*/
	border: 1.5px solid;
}

h5 {
	font-size: 15px;
	color: #6286F7;
	margin-bottom: 20px;
}

#what p {
	font-size: 20px;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
}

.flex-container > div {
  background-color: #D3DEFF; /*light blue*/
  margin-left: 135px;
  margin-top: 35px;
}

.card {
	width: 18rem;
} 

.card-img-top { 
	height: 150px; 
	object-fit: cover;
}

.card-text {
	font-size: 15px;
}

.btn-outline-primary {
	border-radius: 25px;
	color: #6286F7;
}

.button {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 70px;
}

/*film.html*/

#film-photo {
	grid-column-start: 1;
	grid-column-end: 6;
	grid-row-start: 1;
	grid-row-end: 2;
}

.photo-film {
	height: 200px; 
	object-fit: cover;
}

.card-film {
	margin: 0 auto;
	border-radius: 15px;
	margin-top: 50px;
}

.film-text {
	margin-left: 0px;
	margin-top: 35px;
}





